<!-- 
    Name: Fatima Tuz Zahra
    ID: 301347439
    Date: Oct 03, 2023
 -->
<footer>
  <hr />
  <h6>
    &copy; &nbsp; &nbsp; &nbsp; Copyright Fatima Tuz Zahra-301347439-COMP229-Web
    Application Development(sec.404) Fall-2023
  </h6>
  <hr />
</footer>
