<!-- 
    Name: Fatima Tuz Zahra
    ID: 301347439
    Date: Oct 03, 2023
 -->
<header>
  <nav>
    <img src="../Images/Picture1.png" id="myLogo" />
    <ul>
      <li><a href="home">Home</a></li>
      <li><a href="about">About</a></li>
      <li><a href="projects">Projects</a></li>
      <li><a href="services">Services</a></li>
      <li><a href="contact">Contact</a></li>
    </ul>
  </nav>
</header>
