<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="Portfolio.css" />
  </head>
  <body>
    <header>
      <nav>
        <img src="../Images/Picture1.png" id="myLogo" />
        <ul>
          <li><a href="home.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="projects.html">Projects</a></li>
          <li><a href="services.html">Services</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </nav>
    </header>
    <div class="container-row">
      <div class="item">
        <img
          id="myPic"
          src="../../../../../../../semester 1/comp 213 Web Interface Design sec 401/Assignments/Fatima Tuz Zahra_301347439_COMP213-401_A1/images/mypic.jpeg"
        />
      </div>
      <div class="item">
        <p style="font-size: 40px"><i>Mission Statement</i></p1>
        <p style="font-size: 25px">
          <i
            >As a Software Developer in Toronto, Canada, I absolutely love
            making websites and apps look awesome with cool animations and
            user-friendly designs. My mission is to bring creativity and
            excitement to every project, making online experiences super easy
            and fun for everyone.<br /><br />
            Let's work together to create something really special!</i
          >
        </p>
      </div>
    </div>
    <footer>
      <hr />
      <h6>
        &copy; &nbsp; &nbsp; &nbsp; Copyright Fatima Tuz
        Zahra-301347439-COMP229-Web Application Development(sec.404) Fall-2023
      </h6>
      <hr />
    </footer>
  </body>
</html>
