
    <div class="container-row">
      <div class="item">
        <img
          id="myPic"
          src="../Images/mypic.jpeg"
        />
      </div>
      <div class="item">
        <p style="font-size: 40px"><i>Mission Statement</i></p1>
        <p style="font-size: 25px">
          <i
            >As a Software Developer in Toronto, Canada, I absolutely love
            making websites and apps look awesome with cool animations and
            user-friendly designs. My mission is to bring creativity and
            excitement to every project, making online experiences super easy
            and fun for everyone.<br /><br />
            Let's work together to create something really special!</i
          ><br><br><a href="MyResume.pdf">My Resume</a>
        </p>
      </div>
    </div>
    
