<h1>Have a question or wanna work together, please fill out a form below</h1>
<form method="post" action="PageSubmit">
  <fieldset>
    <legend><bold>Contact Information</bold></legend>
    <br />
    <label for="myFirstName">*Enter your First Name:</label>
    <input
      type="text"
      name="myFirstName"
      id="myFirstName"
      required="required"
      placeholder="your first name"
    />
    <br />
    <br />
    <label for="myLastName">*Enter your Last Name:</label>
    <input
      type="myLastName"
      name="MyLastName"
      id="MyLastName"
      required="required"
      placeholder="your last name"
    />
    <br />
    <br />
    <label for="my email">*Enter your E-mail:</label>
    <input
      type="email"
      name="my email"
      id="my email"
      required="required"
      placeholder="you@yourdomain.com"
    />
    <br />
    <br />
    <label for="MyComments">Your Message:</label>
    <textarea
      name="MyComments"
      id="MyComments"
      rows="2"
      cols="40"
      placeholder="Type your message here"
    ></textarea>
    <br />
    <br />
    <input id="sendButton" type="submit" value="Send" />
    <br />
    <br />
  </fieldset>
</form>
