<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
    <link rel="stylesheet" href="Portfolio.css" />
  </head>
  <body>
    <header>
      <nav>
        <img src="../Images/Picture1.png" id="myLogo" />
        <ul>
            <li><a href="home.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="projects.html">Projects</a></li>
          <li><a href="services.html">Services</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </nav>
    </header>

    <i><h1 id="Welcome">Hi!<br><span> I am Fatima Tuz Zahra<br />Welcome to my portfolio</h1></i>

    <footer>
      <hr />
      <h6>
        &copy; &nbsp; &nbsp; &nbsp; Copyright Fatima Tuz
        Zahra-301347439-COMP229-Web Application Development(sec.404) Fall-2023
      </h6>
      <hr />
    </footer>
  </body>
</html>
