
<!-- 
    Name: Fatima Tuz Zahra
    ID: 301347439
    Date: Oct 03, 2023
 -->
    

    <i><h1 id="Welcome">Hi!<br><span> I am Fatima Tuz Zahra<br />Welcome to my portfolio</h1></i>
      <%- include('./partials/home-nav.ejs'); %>
