<div class="container">
  <div class="item">
    <img src="../Images/blog_1403047837_1649313191.jpg" />
    <div class="myProjects">
      <h3><strong>Car Rental App</strong></h3>
      <p>
        This car rental app allows users to pick up and drop off vehicles
        conveniently in designated city areas, reducing the need for in-person
        visits and handling paperwork digitally.
      </p>
    </div>
  </div>
  <div class="item">
    <img src="../Images/istockphoto-1274273995-612x612.jpg" />
    <div class="myProjects">
      <h3><strong>Dental Solutions</strong></h3>
      <p>
        Dental Solutions simplifies dental care by connecting patients with
        providers, managing records, and facilitating payments for services.
      </p>
    </div>
  </div>
  <div class="item">
    <img src="../Images/fooddelivery.png" />
    <div class="myProjects">
      <h3><strong>Food Delilvery App</strong></h3>
      <p>
        Created a user-friendly food delivery app that connects users with local
        restaurants for hassle-free ordering and real-time delivery tracking
      </p>
    </div>
  </div>
</div>
