<div class="container">
  <img class="item" src="../Images/0_M4bxiCIjcTK-2Xr6.webp" />
  <h4><bold>Web Development</bold></h4>

  <img
    class="item"
    src="../Images/depositphotos_10062530-stock-photo-smartphone-with-.jpg"
  />
  <h4><bold>Mobile Apps</bold></h4>
  <img class="item" src="../Images/UX-UI-Design.jpg" />
  <h4><bold>UX/UI designs</bold></h4>
</div>
